
.drag-handle-horiz {
    background-color: #3c454f; 
    height: 10px;
}
.drag-handle-vert {
    background-color: #3c454f; 
    width: 10px;
}
.status-background{
    background-color: #0f1b2a;
}
.ccp-hidden {
    position: absolute;
    height: 100px !important;
    width: 100px !important;
    right: -150px;
    top: -150px ;
}