.status-background{
    background-color: #0f1b2a;
}
.ccp-hidden {
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 93px;
    width: 350px !important;
}
.translate-container {
    z-index: 50;
}
.dVxtLJ {
    background: #fff !important;
}
.chatroom {
    border-radius: 0 !important;
}

.ccp-container iframe {
    border: 0;
}