#ccp-container {
  height:500px;
  padding-top: 15px;
  padding-left: 15px;
  width: 330px;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ .coloring.red:before {
background: #F25F5C !important;
}

/* hide the tasks and number pad buttons or when the screen is compressed, they are partially visible */
.lhnIqY, .hCTPMj {
  display: none !important;
}
/* background for the button container */
.dVxtLJ {
  background: #fff !important;
}
